header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #000;
    background-color: #f8f8f8;
    width: 80%;
    margin: auto;

}

h1 {
    margin-right: 20px;
}
